<html>
    <head>
        <title>Haskell Sudoku Solver</title>

        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="script.js"></script>


    </head>

    <body ng-app="sudokuApp" ng-controller="mainCtrl" id="particles-js">

        <section class="left">
            <div>
                Site made by:<br><a href="https://github.com/taekim97">Terry Kim</a><br><a href='https://github.com/Andrewjeska'>Michael Anderjaska</a><br><br>
                Using:<br><a href="https://www.haskell.org/">Haskell</a><br><a href='https://www.yesodweb.com/'>Yesod</a><br><a href='https://angularjs.org/'>Angular.js</a><br><br>
                <a href="https://github.com/taekim97/Haskell-Sudoku-Solver">Github Repo</a><hr><br>
                Special thanks to <br><a href='https://nikivazou.github.io/'>Niki Vazou</a> for teaching us Haskell :)<br><hr><br>
            </div>
            <button ng-click="backState()" type="button">Menu</button>
        </section>
        <section class="right">
            <div class="menuLogo">Sudoku</div>
            <!-- Welcome Page -->
            <div class="menu" ng-show="gameState == 0">
                <button ng-click="difficultyMenu()" class="menuButton" type="button">Play</button>
                <button ng-click="newSolver()" class="menuButton" type="button">Solver</button>
            </div>

            <!-- Difficulty Menu -->
            <div class="menu" ng-show="gameState == 1">
                <div>Choose your difficulty :^)</div>
                <button ng-click="newPuzzle(0)" class="menuButton" type="button">Easy</button>
                <button ng-click="newPuzzle(1)" class="menuButton" type="button">Medium</button>
                <button ng-click="newPuzzle(2)" class="menuButton" type="button">Hard</button>
            </div>

            <!-- Play Puzzle -->
            <div class="play" ng-show="gameState == 2">
                <table class="sudoku">
                    <tr ng-repeat="y in [0,1,2,3,4,5,6,7,8]">
                        <td ng-repeat="x in [0,1,2,3,4,5,6,7,8]">
                            <input ng-model="board[y][x]" ng-if="!originalBoard[y][x]" type='number'>
                            <span ng-model="board[y][x]" ng-if="originalBoard[y][x]">{{board[y][x]}}</span>
                        </td>
                    </tr>
                </table>

                <button ng-click="validate()" class="menuButton" type="button">Check</button>
            </div>

            <!-- Use Solver -->
            <div class="solver" ng-show="gameState == 3">
                <table class="sudoku">
                    <tr ng-repeat="y in [0,1,2,3,4,5,6,7,8]">
                        <td ng-repeat="x in [0,1,2,3,4,5,6,7,8]">
                            <input ng-model="board[y][x]" type='number'>
                        </td>
                    </tr>
                </table>

                <button ng-click="solve()" class="menuButton" type="button">Solve</button>
            </div>
        </section>

    </body>


</html>
