input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

body{
    //background-image: url("transparentTexture.png");
    background-color: #259888;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

button {
    background-color: white;
    text-align: center;
    width: 50px;
    height: 25px;
    border-radius: 10px;
}

section.left {
    float: left;
    background-color: #e9edee;
    width: 200px;
    height: 100%;
    padding: 10px;
}
section.right {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

.sudoku {
    margin: 0 auto;
}

/* Second Method */
table.sudoku {
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    font-size: 22px;
    text-align: center
}

.sudoku tr:first-child {
    border-top: solid medium;
}
.sudoku tr:nth-of-type(3n) {
    border-bottom: solid medium;
}

.sudoku td:first-child {
    border-left: solid medium;
}

.sudoku td:nth-of-type(3n) {
    border-right: solid medium;
}
.sudoku td{
    border: solid thin;
}

.sudoku td, .sudoku input, .sudoku span{
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
}

/* Menu CSS */

.menu, .play, .solver{
    height: 100px;
    width : 288px;


    margin: 0 auto;
}

.menuLogo {
    text-align: center;
    height:50px;
    width: 150px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 45px;
    font-weight: 900;
    text-decoration: underline;
    color: white;
}
.menuButton {
    text-align: center;
    width: 75px;
    display: block;
    margin: 10px auto;

}
